.rank-list {
    .header {
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
    }

    .container {
        margin: auto;
        width: 600px;
        border: 2px solid rgb(173, 160, 160);
        border-radius: 10px;
        box-shadow: 3px 3px rgba(211, 205, 205, 0.445);

        margin-bottom: 20px;
    }
}
