.rank-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #000;
    box-shadow: 3px 3px rgba(211, 205, 205, 0.445);

    .index {
        flex: 2;
        text-align: center;
        span {
            border: 1px solid #000;
            border-radius: 50%;
            padding-left: 8px;
            padding-right: 8px;

            font-size: 20px;
            font-weight: bold;
        }
    }

    .user-info {
        flex: 3;

        display: flex;
        align-items: center;

        .avatar {
            width: 60px;
            height: 60px;
        }

        p {
            margin-left: 10px;
            white-space: nowrap;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .cups {
        flex: 2;

        display: flex;
        align-items: center;

        svg {
            color: rgb(158, 223, 29);
        }

        p {
            margin-left: 4px;
        }
    }
}
