.online-user {
    .btn-online-user {
        position: fixed;
        bottom: 60px;
        right: 50px;

        color: #fff;
        background-color: #000;
        border: 1px solid rgb(74, 179, 25);
    }
}
