.room-list {
    .container {
        width: 1000px;
        height: 85vh;
        overflow: auto;
        margin: 10px auto;
        border: 1px solid rgba(175, 171, 171, 0.836);

        .header {
            .title {
                font-size: 50px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                margin-top: 5px;
            }
        }

        .btn-group {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            .create-btn {
                margin-right: 30px;
            }

            .join-btn {
                margin-left: 30px;
            }
        }
    }
}
