.history {
    margin-top: 20px;

    .history-title {
        display: flex;
        justify-content: center;
        align-items: center;

        h5 {
            font-weight: bold;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }

    .history-list {
        margin-top: 20px;

        .history-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            width: 600px;
            border: 1px solid rgb(179, 176, 176);
            border-radius: 5px;
            box-shadow: 2px 2px rgb(204, 194, 194);
            padding: 20px;
            margin: 20px auto;

            color: rgb(15, 18, 39);

            .user-group {
                flex: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    font-weight: bold;
                    font-size: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 230px;
                    text-align: center;
                }

                .avatar {
                    width: 70px;
                    height: 70px;
                }
            }

            .history-info {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;

                .cup {
                    display: flex;
                    justify-content: center;
                    margin: 10px auto 5px auto;

                    p {
                        margin-left: 5px;
                    }
                }

                button {
                    margin: 5px auto 0px auto;
                    width: 100px;
                }
            }
        }

        .win {
            background-color: #f9ed69;
        }

        .lose {
            background-color: #f08a5d;
        }
    }
}
