.history {
    margin-top: 20px;

    .history-title {
        display: flex;
        justify-content: center;
        align-items: center;

        h5 {
            margin-left: 10px;
        }
    }

    .history-list {
        margin-top: 20px;

        .history-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            width: 600px;
            border: 1px solid #000;
            padding: 20px;
            margin: 20px auto;

            .user-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .history-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;

                .cup {
                    display: flex;
                    justify-content: center;
                    margin: 10px auto 5px auto;

                    p {
                        margin-left: 5px;
                    }
                }
            }
        }

        .win {
            background-color: rgb(214, 35, 22);
        }

        .lose {
            background-color: rgb(41, 219, 25);
        }
    }
}
